# build output
dist/
.astro/

# generated assets (recreated by predev/prebuild + CI)
public/fonts/
public/og-image.png

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.production

# macOS
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
.idea/
